@font-face {
    font-family: calisga;
    src: url(../calisga/calisga-calisga-400.ttf);
    
}
:root{
    --Gold : #c6a04f;
    --lightGold : #dfc177;
    --darkColor : #000000;
    --lightColor : #fff3ea;

}

html{
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    background-color: var(--darkColor);
    color: var(--Gold);
    overflow-x: hidden;
    height: 2000px;
}
/**************************** Nav **********************************/
nav{
    position: fixed;
    width: 100%;
    padding-top: 5px;
}
.custom-a-nav,
.custom-ul-nav li a{
    color: var(--Gold);
   
}
.custom-a-nav:hover,
.custom-ul-nav li a:hover,
.custom-a-nav:focus,
.custom-ul-nav li a:focus,
.custom-a-nav:active,
.custom-ul-nav li a:active{
    color: var(--Gold);
}
.brand-name{
    font-size: 18px;
    font-weight: bold;
}
.nav-item{
    position: relative;
}
.nav-item > .nav-link::before{
   content: " ";
   display: block;
   padding-top: 4px;
   border-bottom: var(--Gold) solid 2px;
   transform: scale(0);
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -ms-transform: scale(0);
   -o-transform: scale(0);
   transform-origin: 0 50%;
   bottom: 0;
   left: 0;
   position: absolute;
   width: 100%;
   transition: 0.3s transform ease-in-out;
   -webkit-transition: 0.3s transform ease-in-out;
   -moz-transition: 0.3s transform ease-in-out;
   -ms-transition: 0.3s transform ease-in-out;
   -o-transition: 0.3s transform ease-in-out;
}
.nav-item > .nav-link:hover:before{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform-origin: 0 50%;
    transition-delay: 0.3s;
}
.navbar .navbar-toggler{
    border-color: var(--Gold);
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(198, 160, 79)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
/*********************************************************************/
.cover-sec{
  margin-top: 7%;
  height: 65vh;
}
.cover-sec .container{
    height: inherit;
}
.cover-sec .container .row {
    position: relative;
    height: inherit;
}
.cover-left .cover-cote {
    font-family: "calisga", sans-serif;
    font-size: 3em;
}
.cover-text{
    padding-right: 35%;
    color: var(--lightGold);
    font-size: 15px;
}
.cover-right{
    margin-top: -14%;
    background-color: var(--lightGold);
    position: relative;
}
.cover-right img{
    position: absolute;
    top: 39%;
    right: 10%;
    border-top-left-radius: 44% 33%;
    border-top-right-radius: 44% 33%;
}
.upper-img{
    width: 190px;
    position: absolute;
    top: 31%;
    left: 59%;
    transform: scale(1.6);
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
}

/* responsive  */
@media screen and (max-width : 480px) and (min-width:300px){
    .brand-name {
            font-size: 15px;
            font-weight: bold;
        }
    body{
        font-size: 15px;
    }
}
@media screen and (max-width:992px) and (min-width: 768px) {
    .cover-left .cover-cote{
        font-size: 2em;
    }
}
@media screen and (max-width:768px) and (min-width : 300px) {
    .cover-left .cover-cote{
        font-size: 2em;
        text-align: center;
    }
    .cover-text {
        text-align: center;
        padding-right: 0;
    }
}
@media screen and (max-width : 1400px) and (min-width : 1200px){
    .cover-right img {
            width: 185px;
            height: 229px;
            right: 4%;
        }
    
    .upper-img {
            transform: scale(1.5);
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
            -o-transform: scale(1.5);
        }
}
@media screen and (max-width : 1199px) and (min-width : 1025px){
    .cover-right img {
            width: 160px;
            height: 190px;
            right: 3%;
        }
    
    .upper-img {
            width: 174px;
            transform: scale(1.3);
            -webkit-transform: scale(1.3);
            -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
            -o-transform: scale(1.3);
}
}
@media screen and (max-width : 1024px) and (min-width : 991px){
    .cover-right img {
            width: 158px;
            height: 188px;
            right: 5%;
            top: 42%;
        }
    
        .upper-img {
            width: 174px;
            transform: scale(1.3);
            -webkit-transform: scale(1.3);
            -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
            -o-transform: scale(1.3);
            
}
}
@media screen and (max-width : 992px) and (min-width : 769px) {
    .cover-sec{
        margin-top: 4%;
    }
    .cover-right{
        margin-top: 0;
        background-color: transparent;
    }
    .cover-right img {
        right: 10%;
        top: 0%;
    }
    .upper-img{
        display: none;
    }
}
@media screen and (max-width : 769px) and (min-width : 300px) {
    .upper-img {
            display: none;
        }
    .cover-right {
            margin-top: 0;
            background-color: transparent;
        }
    .cover-right img {
        position: relative;
        top: 0;
        right: 10%;
    }
}
@media screen and (max-width: 768px) and (min-width : 300px) {
    .cover-sec{
        height: auto;
    }
    .cover-right{
        justify-content: center;
        margin-top: 0%;
        display: flex;
    }
    .cover-right img {
        right: 0%;
        width: 280px;
        height: 310px;
    }
    
}

